* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header a {
    color: var(--black-opacity);
}

ul {
    list-style: none;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black-opacity: hsl(0, 0%, 0%);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 2px solid var(--grayish-blue);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 4rem;
}

.main-nav ul a {
  position: relative;
  padding-bottom: 1.5rem;
  color: var(--dark-grayish-blue);
  transition: color 0.3s ease;
}

.main-nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -42px;
  width: 0%;
  height: 5px;
  background-color: var(--orange);
  transition: width 0.3s ease;
}

.main-nav ul a:hover {
  color: var(--black-opacity);
}

.main-nav ul a:hover::after {
  width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cart {
    font-size: 1.2rem;
}

.avatar {
    width: 40px;
    height: 40px;
}

.logo {
    height: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 5rem;
    margin-top: 100px;
}

.product-content {
    grid-column: 2 / 3;
}

.product-images {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.thumbnail-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.thumbnail-images img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail-images img:hover,
.thumbnail-images img.active {
  border: 2px solid var(--orange);
  background: var(--pale-orange);
}

.curr-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.curr-price p:last-child {
    background: var(--black-opacity);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
}

.orig-price {
    text-decoration: line-through;
}

.quantity {
    margin-top: 3rem;
}

.container-lg {
    max-width: 1300px;
    margin: 10px auto;
    padding: 0 2rem;
}

.container-sm {
    max-width: 1200px;
    margin: 0 auto;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 5px 0;
    font-weight: 400;
}

.tagline {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text-md {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 20px 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.text-lg {
    font-size: 3rem;
    line-height: 1.5;
    margin: 25px 0;
    font-weight: 700;
}