/* ==========================
======== Base Reset =========
============================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #FFFFFF;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

/* ==========================
======== Variables ==========
============================*/

:root {
    --primary: #89C5CC;
    --light: #8c8c8c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.main-nav ul {
    display: flex;
    gap: 3rem;
}

.main-nav ul a {
    color: var(--light);
    transition: color 0.3s ease;
}

.main-nav ul a.active {
    color: black;
}

.main-nav ul a:hover {
    color: var(--primary);
}

.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 3rem 0;
}

.hero-content .p-text {
    color: var(--primary);
}

.hero-content .btn {
    margin-top: 15px;
}

footer {
  position: relative;
  padding: 1rem;
  text-align: center;
}

footer img {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-30%);
}

.text-lg{
    font-size: 3rem;
    line-height: 1.5;
    margin: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
}

.text-sm {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: normal;
    color: var(--light);
}

.btn {
    display: inline-block;
    background: var(--primary);
    color: var(--light);
    padding: 1rem;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .hero-content {
    order: 2;
  }
  .hero-img {
    order: 1;
  }
  footer {
    text-align: left;
  }
  .container {
    padding: 0 20px;
  }
}
